:root {
  --ink-gold: #d2b886;
  --amber: #f3a30a;
  --amethyst:#893b85;
  --emerald: #209141;
  --ruby: #c33537;
  --sapphire: #0088c0;
  --steel: #777c88;
}

*, *::before, *::after {
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  html,
  body {
    max-width: 100vw;
    padding: 0 10px;
  }